In [1]:
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")

In [2]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
#convert dataset as numerical data
dataset=pd.get_dummies(dataset, drop_first=True, dtype=int)

In [4]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:

dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
# split input and output data
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [7]:
# Split data for train and test sets
from sklearn.model_selection import train_test_split
X_train,X_test, Y_train,Y_test =train_test_split(independent,dependent,test_size=.3, random_state=1)

In [8]:
X_train,X_test, Y_train,Y_test

(      age     bmi  children  sex_male  smoker_yes
 744    50  26.410         0         1           0
 363    21  26.400         1         0           0
 10     25  26.220         0         1           0
 970    50  28.160         3         0           0
 634    51  39.700         1         1           0
 ...   ...     ...       ...       ...         ...
 715    60  28.900         0         1           0
 905    26  29.355         2         0           0
 1096   51  34.960         2         0           1
 235    40  22.220         2         0           1
 1061   57  27.940         1         1           0

 [936 rows x 5 columns],
       age     bmi  children  sex_male  smoker_yes
 559    19  35.530         0         1           0
 1087   57  31.540         0         1           0
 1020   51  37.000         0         1           0
 460    49  36.630         3         0           0
 802    21  22.300         1         1           0
 ...   ...     ...       ...       ...         ...
 323    57  40.945         0         1           0
 1268   20  33.300         0         0           0
 134    20  28.785         0         0           0
 1274   26  27.060         0         1           1
 876    49  27.100         1         0           0

 [402 rows x 5 columns],
           charges
 744    8827.20990
 363    2597.77900
 10     2721.32080
 970   10702.64240
 634    9391.34600
 ...           ...
 715   12146.97100
 905    4564.19145
 1096  44641.19740
 235   19444.26580
 1061  11554.22360

 [936 rows x 1 columns],
           charges
 559    1646.42970
 1087  11353.22760
 1020   8798.59300
 460   10381.47870
 802    2103.08000
 ...           ...
 323   11566.30055
 1268   1880.48700
 134    2457.21115
 1274  17043.34140
 876   26140.36030

 [402 rows x 1 columns])

In [9]:
# model creation
from sklearn.ensemble import RandomForestRegressor
#regresser=RandomForestRegressor(n_estimators=100,random_state=0) #0.825049122017278

#regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='squared_error', max_features='sqrt') #0.8388598173145339
#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='squared_error', max_features='sqrt') #0.8369776106713841


#regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='squared_error', max_features='log2')#0.8388598173145339
#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='squared_error', max_features='log2') #0.8369776106713841


#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='squared_error') #0.8229257456251617
#regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='squared_error') #0.825049122017278

#regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='friedman_mse', max_features='sqrt') # 0.8390780475542116
#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='friedman_mse', max_features='sqrt') #0.8374215316807476

#regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='friedman_mse', max_features='log2') # 0.8390780475542116
#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='friedman_mse', max_features='log2') #0.8374215316807476

#regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='friedman_mse') #0.8250826780064943
#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='friedman_mse') #0.823500015895199

#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='absolute_error', max_features='sqrt') # 0.843193121438361
#regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='absolute_error', max_features='sqrt')


#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='absolute_error', max_features='log2') # 0.843193121438361
regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='absolute_error', max_features='log2') #0.8439351981692803

#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='absolute_error') #0.8263350983004953
#regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='absolute_error') #0.824962769647794

#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='poisson', max_features='sqrt') # 0.8409579434651613
#regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='poisson', max_features='sqrt')#0.8417099421816833


#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='poisson', max_features='log2') # 0.8409579434651613
#regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='poisson', max_features='log2') #0.8417099421816833

#regresser=RandomForestRegressor(n_estimators=50,random_state=0,criterion='poisson #0.822504970432274

#regresser=RandomForestRegressor(n_estimators=100,random_state=0,criterion='poisson') #0.8254018510552764

regresser=regresser.fit(X_train,Y_train)

/var/folders/1s/70xy4dvs6mn0zqfz6nvhbypw0000gn/T/ipykernel_17098/369631596.py:46: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regresser=regresser.fit(X_train,Y_train)

In [10]:
Y_pred=regresser.predict(X_test)

In [11]:
# Find r2_score
from sklearn.metrics import r2_score
r2_score=r2_score(Y_test,Y_pred)

In [12]:
r2_score

0.8439351981692803

In [13]:
#Save the model

import pickle
pickle.dump(regresser,open('finalized_model_random_forest_regressor.sav','wb'))

In [14]:
# load model

loaded_model=pickle.load(open("finalized_model_random_forest_regressor.sav",'rb'))

In [18]:
result=loaded_model.predict([[19,27.900,0,0,1]])

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [19]:
result

array([18163.21493365])