In [1]:
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")

In [2]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
# preprocessing_converting Nominal data_converting String into numeric 

dataset=pd.get_dummies(dataset, drop_first=True, dtype=int)

In [4]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
#splitting input and output data
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [7]:

independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
#spliting the dataset into train data and test data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.3,random_state=0)

In [10]:
x_train,x_test,y_train,y_test

(      age     bmi  children  sex_male  smoker_yes
 1163   18  28.215         0         0           0
 196    39  32.800         0         0           0
 438    52  46.750         5         0           0
 183    44  26.410         0         0           0
 1298   33  27.455         2         1           0
 ...   ...     ...       ...       ...         ...
 763    27  26.030         0         1           0
 835    42  35.970         2         1           0
 1216   40  25.080         0         1           0
 559    19  35.530         0         1           0
 684    33  18.500         1         0           0

 [936 rows x 5 columns],
       age     bmi  children  sex_male  smoker_yes
 578    52  30.200         1         1           0
 610    47  29.370         1         0           0
 569    48  40.565         2         1           1
 1034   61  38.380         0         1           0
 198    51  18.050         0         0           0
 ...   ...     ...       ...       ...         ...
 1261   28  37.100         1         1           0
 494    21  25.700         4         1           1
 97     55  38.280         0         1           0
 418    64  39.160         1         1           0
 920    62  25.000         0         0           0

 [402 rows x 5 columns],
           charges
 1163   2200.83085
 196    5649.71500
 438   12592.53450
 183    7419.47790
 1298   5261.46945
 ...           ...
 763    3070.80870
 835    7160.33030
 1216   5415.66120
 559    1646.42970
 684    4766.02200

 [936 rows x 1 columns],
           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 1261   3277.16100
 494   17942.10600
 97    10226.28420
 418   14418.28040
 920   13451.12200

 [402 rows x 1 columns])

In [141]:
#Model creation
from sklearn.svm import SVR

#regressor=SVR(kernel='rbf', C=1000) #-0.11749091594992023 
#regressor=SVR(kernel='rbf', C=800) #-0.1194839750339689
#regressor=SVR(kernel='rbf', C=100) #-0.12480367775039669
#regressor=SVR(kernel='rbf', C=10) #-0.08196910396420853

regressor=SVR(kernel='linear', C=1000) #0.6340369308871254
#regressor=SVR(kernel='linear', C=800) #0.6292871785901891
#regressor=SVR(kernel='linear', C=100) #0.5432818208756567
#regressor=SVR(kernel='linear', C=10) #-0.0016176055409342638

#regressor=SVR(kernel='poly', C=1000) #-0.05550593751791011
#regressor=SVR(kernel='poly', C=800) #-0.0661157481856669
#regressor=SVR(kernel='poly', C=100)  # -0.09976172333666122           
#regressor=SVR(kernel='poly', C=10) # -0.09311615532848538

#regressor=SVR(kernel='sigmoid', C=1000) # -1.6659081315533064
#regressor=SVR(kernel='sigmoid', C=800) #-1.127561566455817
#regressor=SVR(kernel='sigmoid', C=100) #-0.11814554828411383
#regressor=SVR(kernel='sigmoid', C=10) #-0.09078319814614


#regressor=SVR(kernel='precomputed', C=1000) #precomputed needs square matrix 

regressor.fit(x_train,y_train)

/opt/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=100, kernel='sigmoid')

In [142]:
y_pred=regressor.predict(x_test)

In [143]:
#slope is applicable only for linear regression model

In [144]:
bias=regressor.intercept_

In [145]:
bias

array([7071.88385382])

In [146]:
#finding r2_score value:

from sklearn.metrics import r2_score
r2score=r2_score(y_test,y_pred)

In [147]:
r2score

-0.11814554828411383

In [132]:
# save the model
import pickle
pickle.dump(regressor,open("svm_regression_model.sav",'wb'))

In [133]:
#load the model
loaded_model=pickle.load(open("svm_regression_model.sav",'rb'))

In [96]:
loaded_model.predict([[12,35.400,0,1,0]])

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([-591.99575031])