In [1]:
import numpy as np
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")

In [2]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
# 1.convert dataset from string to numerical data

dataset=pd.get_dummies(dataset, drop_first=True, dtype=int)

In [4]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:

dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
# 2. split input and output data
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [7]:
# 3. preprocessing the data in a range

from sklearn.preprocessing import StandardScaler
SS= StandardScaler()
independent = SS.fit_transform(independent)
#dependent = SS.fit_transform(dependent)

independent

array([[-1.43876426, -0.45332   , -0.90861367, -1.0105187 ,  1.97058663],
       [-1.50996545,  0.5096211 , -0.07876719,  0.98959079, -0.5074631 ],
       [-0.79795355,  0.38330685,  1.58092576,  0.98959079, -0.5074631 ],
       ...,
       [-1.50996545,  1.0148781 , -0.90861367, -1.0105187 , -0.5074631 ],
       [-1.29636188, -0.79781341, -0.90861367, -1.0105187 , -0.5074631 ],
       [ 1.55168573, -0.26138796, -0.90861367, -1.0105187 ,  1.97058663]])

In [8]:
# 4. model creation using grid_serach and RandomForestRegressor

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid={'criterion': ['squared_error', 'absolute_error', 'friedman_mse', 'poisson'],
            'max_features': ['sqrt', 'log2'],
               'n_estimators': [100,50] }

grid= GridSearchCV(RandomForestRegressor(),param_grid,refit=True,n_jobs=-1,verbose=3)

In [12]:
#fit the grid
#dependent=dependent.values.ravel()
grid.fit(independent,dependent)
result=grid.cv_results_

Fitting 5 folds for each of 16 candidates, totalling 80 fits

In [19]:
print(" best parameter for the Rscore value : {}".format(grid.best_params_))

 best parameter for the Rscore value : {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}

In [13]:
#displaying the data as a table
table=pd.DataFrame.from_dict(result)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.137162,0.010321,0.006023,0.002126,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.854001,0.780091,0.857479,0.828088,0.841193,0.832170,0.028027,13
1,0.062440,0.008217,0.003227,0.001177,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.859987,0.770553,0.862180,0.826731,0.840966,0.832084,0.033400,14
2,0.116317,0.005856,0.004388,0.000047,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.857300,0.781431,0.854320,0.829676,0.842227,0.832991,0.027570,9
3,0.068883,0.016688,0.002678,0.000807,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",0.856978,0.774046,0.858631,0.827083,0.838263,0.831000,0.030823,16
4,0.687503,0.012518,0.007724,0.002414,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.861276,0.788086,0.857327,0.828531,0.849599,0.836964,0.026928,1
5,0.337921,0.007233,0.003994,0.001093,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.856667,0.784844,0.859732,0.829479,0.841577,0.834460,0.027089,3
6,0.683178,0.010560,0.004327,0.000122,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.856927,0.777483,0.860661,0.826794,0.845871,0.833547,0.030405,7
7,0.341649,0.003655,0.004037,0.000921,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.858116,0.788404,0.851020,0.827439,0.844570,0.833910,0.024920,4
8,0.114051,0.003533,0.005537,0.001811,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.857284,0.779134,0.859674,0.827804,0.844440,0.833667,0.029524,6
9,0.057953,0.009478,0.003430,0.001300,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.855587,0.775744,0.864942,0.824640,0.842641,0.832711,0.031531,10
10,0.114574,0.002564,0.006240,0.001805,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.857665,0.782949,0.864144,0.825570,0.838517,0.833769,0.028865,5
11,0.056147,0.010247,0.003377,0.000854,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.861689,0.776345,0.856735,0.827154,0.836409,0.831666,0.030440,15
12,0.118909,0.013965,0.006233,0.001607,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.854957,0.777842,0.856975,0.828870,0.844007,0.832530,0.029108,12
13,0.064695,0.001256,0.002338,0.000146,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.861411,0.786099,0.862102,0.829787,0.842221,0.836324,0.027907,2
14,0.119339,0.013066,0.006490,0.002481,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.855395,0.780263,0.857855,0.828732,0.844131,0.833275,0.028433,8
15,0.061187,0.008228,0.003098,0.001077,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.859446,0.781022,0.855226,0.828961,0.838246,0.832580,0.028064,11

In [14]:
#Save the model

import pickle
pickle.dump(grid,open('finalized_grid_model_random_forest_regressor.sav','wb'))

In [15]:
# load model

loaded_model=pickle.load(open("finalized_grid_model_random_forest_regressor.sav",'rb'))

In [16]:
result=loaded_model.predict([[19,27.900,0,0,1]])

In [17]:
result

array([49014.5555772])