In [1]:
import pandas as pd
import numpy as np
import matplotlib as plot

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True,dtype=int)

In [4]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [5]:
# drop the "user-id" column
dataset=dataset.drop("User ID",axis=1)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [6]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [7]:
#split the input and output data
independent=dataset[['Age', 'EstimatedSalary','Gender_Male']]

In [8]:
dependent=dataset[['Purchased']]

In [9]:
# # Split the data for train and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.3, random_state=0)

In [10]:
# scale the data usig standard scaler
from sklearn.preprocessing import StandardScaler
SS=StandardScaler()
x_train=SS.fit_transform(x_train)
x_test=SS.transform(x_test)

In [11]:
#Create a model using CV grid search 
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

param_grid= {'criterion': ['gini', 'entropy', 'log_loss'],
             'splitter':['best', 'random'],
             'max_features':['sqrt', 'log2'],
             'splitter': ['best', 'random']
            }
grid=GridSearchCV(DecisionTreeClassifier(),param_grid,cv=5,refit=True,verbose=3,scoring='f1_weighted')
grid.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
[CV 1/5] END criterion=gini, max_features=sqrt, splitter=best;, score=0.836 total time=   0.0s
[CV 2/5] END criterion=gini, max_features=sqrt, splitter=best;, score=0.783 total time=   0.0s
[CV 3/5] END criterion=gini, max_features=sqrt, splitter=best;, score=0.823 total time=   0.0s
[CV 4/5] END criterion=gini, max_features=sqrt, splitter=best;, score=0.823 total time=   0.0s
[CV 5/5] END criterion=gini, max_features=sqrt, splitter=best;, score=0.873 total time=   0.0s
[CV 1/5] END criterion=gini, max_features=sqrt, splitter=random;, score=0.874 total time=   0.0s
[CV 2/5] END criterion=gini, max_features=sqrt, splitter=random;, score=0.788 total time=   0.0s
[CV 3/5] END criterion=gini, max_features=sqrt, splitter=random;, score=0.731 total time=   0.0s
[CV 4/5] END criterion=gini, max_features=sqrt, splitter=random;, score=0.874 total time=   0.0s
[CV 5/5] END criterion=gini, max_features=sqrt, splitter=random;, score=0.853 total time=   0.0s
[CV 1/5] END criterion=gini, max_features=log2, splitter=best;, score=0.796 total time=   0.0s
[CV 2/5] END criterion=gini, max_features=log2, splitter=best;, score=0.805 total time=   0.0s
[CV 3/5] END criterion=gini, max_features=log2, splitter=best;, score=0.805 total time=   0.0s
[CV 4/5] END criterion=gini, max_features=log2, splitter=best;, score=0.823 total time=   0.0s
[CV 5/5] END criterion=gini, max_features=log2, splitter=best;, score=0.890 total time=   0.0s
[CV 1/5] END criterion=gini, max_features=log2, splitter=random;, score=0.853 total time=   0.0s
[CV 2/5] END criterion=gini, max_features=log2, splitter=random;, score=0.838 total time=   0.0s
[CV 3/5] END criterion=gini, max_features=log2, splitter=random;, score=0.789 total time=   0.0s
[CV 4/5] END criterion=gini, max_features=log2, splitter=random;, score=0.821 total time=   0.0s
[CV 5/5] END criterion=gini, max_features=log2, splitter=random;, score=0.857 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=sqrt, splitter=best;, score=0.857 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=sqrt, splitter=best;, score=0.859 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=sqrt, splitter=best;, score=0.769 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=sqrt, splitter=best;, score=0.857 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=sqrt, splitter=best;, score=0.856 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=sqrt, splitter=random;, score=0.805 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=sqrt, splitter=random;, score=0.859 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=sqrt, splitter=random;, score=0.773 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=sqrt, splitter=random;, score=0.806 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=sqrt, splitter=random;, score=0.893 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=log2, splitter=best;, score=0.800 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=log2, splitter=best;, score=0.821 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=log2, splitter=best;, score=0.823 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=log2, splitter=best;, score=0.892 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=log2, splitter=best;, score=0.888 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=log2, splitter=random;, score=0.766 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=log2, splitter=random;, score=0.840 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=log2, splitter=random;, score=0.772 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=log2, splitter=random;, score=0.840 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=log2, splitter=random;, score=0.783 total time=   0.0s
[CV 1/5] END criterion=log_loss, max_features=sqrt, splitter=best;, score=0.800 total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=sqrt, splitter=best;, score=0.819 total time=   0.0s
[CV 3/5] END criterion=log_loss, max_features=sqrt, splitter=best;, score=0.823 total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=sqrt, splitter=best;, score=0.893 total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=sqrt, splitter=best;, score=0.874 total time=   0.0s
[CV 1/5] END criterion=log_loss, max_features=sqrt, splitter=random;, score=0.800 total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=sqrt, splitter=random;, score=0.857 total time=   0.0s
[CV 3/5] END criterion=log_loss, max_features=sqrt, splitter=random;, score=0.859 total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=sqrt, splitter=random;, score=0.786 total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=sqrt, splitter=random;, score=0.834 total time=   0.0s
[CV 1/5] END criterion=log_loss, max_features=log2, splitter=best;, score=0.836 total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=log2, splitter=best;, score=0.802 total time=   0.0s
[CV 3/5] END criterion=log_loss, max_features=log2, splitter=best;, score=0.807 total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=log2, splitter=best;, score=0.894 total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=log2, splitter=best;, score=0.890 total time=   0.0s
[CV 1/5] END criterion=log_loss, max_features=log2, splitter=random;, score=0.816 total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=log2, splitter=random;, score=0.802 total time=   0.0s
[CV 3/5] END criterion=log_loss, max_features=log2, splitter=random;, score=0.750 total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=log2, splitter=random;, score=0.806 total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=log2, splitter=random;, score=0.857 total time=   0.0s

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [12]:
best_param=grid.best_params_
print ("Best paramenter: {}".format(best_param))

Best paramenter: {'criterion': 'log_loss', 'max_features': 'log2', 'splitter': 'best'}

In [13]:
cv_results=grid.cv_results_
table=pd.DataFrame.from_dict(cv_results)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000438,0.000076,0.001141,0.000071,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.835985,0.782971,0.823129,0.822861,0.872761,0.827541,0.028789,6
1,0.000356,0.000003,0.001091,0.000011,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.874254,0.787755,0.730543,0.874356,0.853485,0.824079,0.056530,9
2,0.000369,0.000004,0.001068,0.000003,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.795918,0.804584,0.804584,0.822861,0.890114,0.823612,0.034392,10
3,0.000351,0.000002,0.001078,0.000007,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.852966,0.838326,0.789152,0.821429,0.857143,0.831803,0.024736,5
4,0.000376,0.000008,0.001066,0.000012,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.857143,0.858503,0.769053,0.857143,0.855556,0.839480,0.035226,4
5,0.000357,0.000007,0.001085,0.000019,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.804584,0.858503,0.772644,0.805721,0.892857,0.826862,0.042987,8
6,0.000375,0.000006,0.001062,0.000003,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.799537,0.821429,0.823129,0.891667,0.888158,0.844784,0.037792,2
7,0.000355,0.000006,0.001069,0.000010,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.766471,0.840114,0.772092,0.839990,0.783333,0.800400,0.032828,12
8,0.000371,0.000007,0.001073,0.000017,log_loss,sqrt,best,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.799537,0.819142,0.823129,0.892857,0.874356,0.841804,0.035538,3
9,0.000349,0.000005,0.001064,0.000004,log_loss,sqrt,random,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.799537,0.857143,0.859435,0.785714,0.833784,0.827122,0.029884,7
10,0.000377,0.000008,0.001062,0.000007,log_loss,log2,best,"{'criterion': 'log_loss', 'max_features': 'log...",0.835985,0.802399,0.807155,0.894269,0.890114,0.845984,0.039462,1
11,0.000351,0.000004,0.001074,0.000008,log_loss,log2,random,"{'criterion': 'log_loss', 'max_features': 'log...",0.816207,0.802399,0.750000,0.805721,0.857143,0.806294,0.034259,11

In [14]:
#finding roc_AUC_score value
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.8883914788514974

In [15]:
input=SS.transform([[50,20000,0]])
grid.predict(input)

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([1])