In [1]:
import pandas as pd
import numpy
import matplotlib as plot

In [2]:
ds=pd.read_csv("Social_Network_Ads.csv")

In [3]:
ds.shape

(400, 5)

In [4]:
ds

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
ds=ds.drop('User ID',axis=1)

In [6]:
ds

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [7]:
ds=pd.get_dummies(ds, drop_first=True, dtype=int)
ds.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [8]:
indep=ds[['Age', 'EstimatedSalary','Gender_Male']]
dep=ds[['Purchased']]

In [9]:
indep.shape,dep.shape

((400, 3), (400, 1))

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test=train_test_split(indep,dep,test_size=0.3, random_state=0)
#x_train,x_test, y_train, y_test
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((280, 3), (120, 3), (280, 1), (120, 1))

In [11]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=10,metric='minkowski',p=2)
classifier.fit(x_train,y_train)

/opt/anaconda3/lib/python3.11/site-packages/sklearn/neighbors/_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=10)

In [12]:
y_pred=classifier.predict(x_test)

In [13]:
#confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[76,  3],
       [16, 25]])

In [14]:
#classification matrix
from sklearn.metrics import classification_report
cli_report=classification_report(y_test,y_pred)
print(cli_report)

              precision    recall  f1-score   support

           0       0.83      0.96      0.89        79
           1       0.89      0.61      0.72        41

    accuracy                           0.84       120
   macro avg       0.86      0.79      0.81       120
weighted avg       0.85      0.84      0.83       120

In [15]:
#c